<div>
    try one of these to see implementation in action:
    <ul>
        <li><a href="{siteURL}/asdasd">simulate 404</a>
        <li><a href="{siteURL}/error">simulate 500</a>
        <li><a href="{siteURL}/something1/something2">using params from url</a>
        <li><a href='{siteURL}/'>home</a>
    </ul>
    <br />
    further checkout the source at:
    <ul>
        <li>/index.php - entry point of the application
        <li>/controllers/intro.php - this page
        <li>/controllers/SampleController.php - sample advanced usage of controller and router (look at /index.php for route rules)
    </ul>
</div>